# Domínio do site
NEXT_PUBLIC_SITE_URL=https://www.tebexlog.com.br

# WhatsApp
NEXT_PUBLIC_WHATSAPP=5512997364365

# Google Analytics (GA4)
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Google Search Console (verificação)
NEXT_PUBLIC_GOOGLE_VERIFICATION=sua-chave-aqui
